
#navbar {
    overflow: hidden;
    width: 100%;
    transition: 0.4s;
    background-color: transparent;
    padding: 10px 0;
    top: 0;
    z-index: 99;
    position: fixed;
    align-items: center;
    justify-content: center;
  }
  .menulinks{
    float: right !important;
  }
    #navbar a {
      float: left;
      color: #fff;
      height: 30px;
      text-align: center;
      padding: 15px;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;
      font-size: 14px;
      line-height: 30px;
      border-radius: 4px;
    }
   
    #navbar .responsive{
        display: none;
    }
    #navbar #logo {
      transition: 0.4s;
    }
    #navbar a:active, 
    #navbar a:hover,
    #navbar .active {
      background-color: #f1f1f1;
      color: #6030a0 !important;
    }