
#navbar {
    overflow: hidden;
    width: 100%;
    transition: 0.4s;
    background-color: #41295ada ;
    top: 0;
    z-index: 99;
    position: fixed;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 15px -3px rgba(0,0,0,.2); ;
  }
  #navbar ul{
    padding: 0;
    margin: 0;
  }
 #navbar li{
   display: inline ;
 }
  .menulinks{
    float: right !important;
  }
 /* #navbar ul{
    margin: 5px;
    float: right;
  }
  #navbar button{
    z-index: 1;
  }
 #navbar li{
   display: inline ;
   
 }*/
  
    #navbar a {
      float: left;
      color: #fff;
      height: 20px;
      text-align: center;
      padding: 15px;
      display: block;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;
      font-size: 12px;
      line-height: 20px;
      border-radius: 4px;
    }
    
    #navbar .responsive{
        display: none;
    }
    #navbar #logo {
      transition: 0.4s;
    }
    #navbar a:active, 
    #navbar a:hover,
    #navbar .active {
      background-color: #f1f1f1;
      color: #6030a0 !important;
    }